main {
    color: blanchedalmond;
}

header {
    background: rgb(51, 51, 51);
    text-align: center;
    padding: 0px;
    margin: 0px;
}

h1 {
    color: white;
}

h2 {
    color: white;
}

footer {
    text-align: center;
    bottom: 0px;
    position: relative;
    width: 100%;
    background: rgb(51, 51, 51);
    padding: 0px;
    margin: 0px;
}